<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        User`s list
    </div>
    {{#personList}}
        <b>person_name_ua</b>
    {{/personList}}
</body>
</html>